# Ignorar arquivos de Excel e CSV
*.xlsx
*.xls
*.csv

# Ignorar arquivos de modelo treinado
*.pkl

# Ignorar imagens e visualizações
*.png
*.jpg
*.jpeg

# Ignorar ambientes virtuais
.venv/
venv/
env/

# Ignorar arquivos temporários
__pycache__/
*.pyc
*.pyo
*.log
